<fieldset class="form-group" >
  <div class="row" ng-controller="fromValController as fromCtrl">
    <legend class="col-form-label col-sm-2 pt-0">From <span class="red">*</span></legend>
    <div class="col-sm-10">
  	<div class="form-check">
  	  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" ng-model="info.dist_from" ng-value='"here"' checked>
  	  <label class="form-check-label" for="gridRadios1">
  		Current location
  	  </label>
  	</div>
  	<div class="form-check disabled">
  	  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"  ng-model="info.dist_from" ng-value='"loc"'>
  	  <label class="form-check-label" for="gridRadios3">
  		Other. Please specify:
  	  </label>
  	</div>
  	
    <div class="col-sm-10">
  	<input type="text" name="input_loc" class="form-control" id="info.input_loc" placeholder="Enter a location" ng-model="info.input_loc" ng-disabled='info.dist_from == "here"' ng-required='info.dist_from != "here"' ng-style="invalidStyle(myForm.input_loc)" googleplace>
      <div class="red" ng-show="shouldShow(myForm.input_loc)">
        Please enter a location.
      </div>	


	  
    </div>
  	
<!-- 	<p> {{info.dist_from}} </p>
	<p> {{info.input_loc}} </p>
  	 -->
    </div>
  
  </div>
</fieldset>